# Ignore python local caching files
__pycache__
**.idea
# Ignore notebook checkpoints
**.ipynb_checkpoints
**.ipynb
# Do not push data
data
private_data
# Do not push pytorch models
#**.pth
# Do not push predictions
**.png
**.jpg
**.npy
# Do not push pdfs (who knows)
**.pdf

